@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?yl0dpu');
	src:url('fonts/icomoon.eot?#iefixyl0dpu') format('embedded-opentype'),
		url('fonts/icomoon.woff?yl0dpu') format('woff'),
		url('fonts/icomoon.ttf?yl0dpu') format('truetype'),
		url('fonts/icomoon.svg?yl0dpu#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-music:before {
	content: "\e606";
}
.icon-notebook:before {
	content: "\e607";
}
.icon-bell:before {
	content: "\e608";
}
.icon-bubbles:before {
	content: "\e609";
}
.icon-users:before {
	content: "\e60a";
}
.icon-user:before {
	content: "\e60b";
}
.icon-search:before {
	content: "\e60c";
}
.icon-cog:before {
	content: "\e60d";
}
.icon-briefcase:before {
	content: "\e60e";
}
.icon-menu:before {
	content: "\e60f";
}
.icon-eye:before {
	content: "\e610";
}
.icon-heart:before {
	content: "\e600";
}
.icon-heart2:before {
	content: "\e601";
}
.icon-cancel-circle:before {
	content: "\e611";
}
.icon-checkmark-circle:before {
	content: "\e612";
}
.icon-checkbox-checked:before {
	content: "\e613";
}
.icon-checkbox-unchecked:before {
	content: "\e614";
}
.icon-facebook:before {
	content: "\e602";
}
.icon-facebook2:before {
	content: "\e616";
}
.icon-twitter:before {
	content: "\e603";
}
.icon-twitter2:before {
	content: "\e617";
}
.icon-bell2:before {
	content: "\e615";
}
.icon-microphone:before {
	content: "\e604";
}
.icon-tache:before {
	content: "\e605";
}


a
	text-decoration none
ul
	list-style-type none

body
	color #333
	font-family 'Raleway',sans-serif
	font-size 16px
	font-weight 300
	position absolute

footer
	background-color #7e8c8d
	bottom 0
	color white
	font-size 0.9em
	font-weight 200
	height auto
	margin-bottom 0!important
	position fixed
	width 100%!important
ul
	text-align center
	padding-top 6px
	padding-bottom 6px
	li
		display inline
		&:first-child
			padding-left 60px
		&:last-child
			padding-left 25px
	a
		color white
		padding-left 20px
	a:hover
		color #19ba98
		font-weight 400

header
	background-color #2c3f50
	display inline-block
	height 52px
	position fixed
	width 100%
	z-index 9
	figure
		display inline
		float left
		padding-top 7px
		padding-left 9%
		margin 0
		width 27px
	img
		width 100%
input[type=text], input[type=password], input[type=email], input[type=button]
	background-color #fff
	border none
	border-radius 3px
	color #000
	focus none
	font-size 0.9em
	font-weight 400
	height 43px
	outline none


//Clases
.activo
	color #19ba98;

.aviso
	float right
	background-color #e9edee
	text-align left

.social
	figure
		display inline
		float left
		padding 0
		margin: -5.3% 0 0 10%;
		width 100px
	img
		width 100%
	ul
		display inline-block
		float right
		padding 0
		margin -4% 0 0 0 
		li
			font-size 2em
			padding-left 2px
		a
			padding-left 2px
.buscador
	display inline-block
	margin-top 10px
	input[type=search]
		background-color #fff
		border none
		border-radius 3px
		color #000
		font-size 0.9em
		font-weight 200
		height 30px
		margin 0 0 0 30px
		outline none
		padding-left 10px
		width  270px
	span
		display inline-block
		margin 8px 0 0 -30px
		color #cfcfcf
		position absolute

.acciones
	color white
	display inline-block
	font-size 1.6em
	font-weight 200
	float right
	ul
		padding 0
		margin 13px 0 0 0
	li
		padding-left 15px
		cursor pointer
		&:last-child
			padding 15px
		&:hover
			color #19ba98;
	sup
		top -0.9em
		left -10px
		font-size 0.5em
		font-weight 400
		float right
		position: absolute
		display inline-block
		margin 1.7% 0 0 79%
		span.red
			background: red;
			border-radius: 0.8em;
			-moz-border-radius: 0.8em;
			-webkit-border-radius: 0.8em;
			color: #ffffff;
			float: right;
			height: 15px;
			width: 15px;
			display: inline-block;
			line-height: 1em;

.sesion
	display inline
	float right
	padding-top 12px
	span
		color #fff
		font-size .8em
	input[type='button']
		background-color #e54c3d
		border none
		border-radius 2px
		color #fff
		font-size 0.9em
		font-weight 300
		height 35px
		margin 0 0 0 10px
		text-transform uppercase
		width 125px

.login
	padding-top 20px

.rowUsers
	a
		img
			padding-left 5px
			width 66px!important
			height 66px!important
		&:first-child
			padding-left 200px
.video
	float right

.fb:hover
	color #3b5998
.tw:hover
	color #469aea
.inicio
	padding-left 140px
.oculto
	display none;
.mostrar
	display inline-block;

.stats
	display inline-block
	position absolute
	margin -70px 0 0 130px
	span.circulo
		background #2c3f50
		border-radius 1em
		-moz-border-radius 1em
		-webkit-border-radius 1em
		color white
		float: right;
		height 30px
		width 30px
		display inline-block
		margin-left 60px
		span.number
			color #2c3f50
			display inline
			font-size 0.9em
			font-weight bold
			float right
			padding-left 20px
			padding-top 5px
			position absolute
		span.icon-github, span.icon-heart, span.icon-bell2
			position absolute
			padding-top 7px
			margin-left -8px
	.buttons
		display inline-block
		float right
		margin -43px  -520px
		input[type=button]
			background-color #2a80b9
			color white
			font-size 0.9em
			font-weight 300
			text-transform uppercase
			width 170px
			height 35px
			cursor pointer
			&:last-child
				margin-left 15px
			&:hover
				background-color #42a0de

.dataPregunta
	background-color rgba(187, 192, 196, .40)
	padding 0
	margin -35px 0 0 130px
	width 78%
	position relative
	p
		display inline-block
		font-size .7em
		color #ccc
		padding-left 15px
		padding-top 15px
	input[type=checkbox]
		float right
	span
		float right
		margin-top -12px
		color #ccc
		text-transform uppercase
		font-size 0.7em
	span.check
		color white
		font-weight 200
		font-size 1.4em
		background-color #e54c3d
		margin-left 15px
		margin-right 40px
		cursor pointer

.btn-naranja
	background-color #e54c3d !important
	border none
	border-radius 2px
	color #fff !important
	font-size 0.9em
	font-weight 300
	height 35px
	margin 0 0 0 10px
	text-transform uppercase
	width 125px
	z-index 9
	&:hover
		background-color #f05b4d!important
.chat_buble
	color white
	font-size 2.3em
	float right
	margin-top 11px
	margin-right 70px

ul.contentChat
	margin-left 81px
	float left
	overflow-x auto
	width 89%
	line-height 21px
	height 21px
	white-space nowrap
	li
		display inline
		cursor pointer
		padding 5px 25px
		border-radius 7px 7px 0 0 
	sup
		color white
		right -18px

.activado
	background-color #2a80b9 !important
	color white !important

.desactivado
	background-color #bbc0c4
	color black

#conversation
	background-color #ecf0f1
	font-size .9em
	float left
	margin-left 120px
	margin-top -17px
	padding-left 15px
	padding-right 10px
	padding-top 10px
	overflow auto
	height 80px
	width 87%
	a
		color #2a80b9
		&:visited
			color #2a80b9

.disableP
	background-color #bbc0c4!important
.activeP
	background-color #2a80b9
//ID's
#banner
	position relative
	padding 89px 0 0 0 
	text-align center
	h2
		font-size 1.3em
		font-weight 200
		color #2c3f50
		padding-bottom 15px
		text-transform uppercase
	.aviso
		padding-top 7px
		padding-bottom 5px
		p
			display inline
			padding-left 35px
			font-size .8em
			color #bbc0c4
		a
			color #3b5998 
			float right
			padding-right 7%
			font-size .9em
			span
				font-size 1.8em
				vertical-align middle
				padding-right 25px

#caja
	background-color rgba(187, 192, 196, .66)
	float right
	height auto
	.icon-checkmark-circle
		color #e54c3d
		font-size 2.2em
		float left
		vertical-align middle
		padding-left 25px
		padding-bottom 30px
	input
		float left
		padding 0 20px 0 20px
		margin-left 3%
		width 170px
	input[type=button]
		background-color #e54c3d
		color #fff
		padding 0
		text-transform uppercase

#cajaAcciones
	background-color #bbc0c4
	margin -81px 0 0 130px
	height 62px//auto
	width 78%
	input[type=text]
		position: absolute
		border-radius 2px
		font-size 0.7em
		height 30px
		margin 15px
		padding-left 20px
		width 60%
		//z-index 100
	input[type=button]
		position: absolute
		cursor pointer
		display inline-block
		margin-left 825px
		margin-top 13px
		width 135px
		height 35px

#contenido
	text-align center
	padding 0
	h2
		font-size 1.6em
		font-weight 200
		color #2c3f50
		text-transform uppercase
		padding-left 13%

#principal
	text-align center
	figure
		padding-left 35%
		width 400px
		z-index 2
	img
		width 100%
	h4
		color white
		font-size 1.3em
		font-weight 300
		text-transform uppercase
		text-align center
		padding-left 12.8%
		margin-top -2%

#barra
	background-color #19ba98
	height 180px
	margin-top -112px

#barra_dos
	background-color #19ba98
	//height 125px
	margin 0 auto
	margin-bottom: 5%;
	h4
		color white
		font-size 1.2em
		font-weight 200
		text-align center
		text-transform uppercase
	.rowUsers_dos
		a
			padding-right 10px
			padding-top 10px
			img
				width 65px
		margin -15px 0 15px 15%

#ban_principal
	background-color #19ba98
	position relative
	padding 17px 0 0 0 
	text-align center
	height 219px
	overflow hidden
	z-index -2
	.cover
		position: absolute
		padding-left 100px
		left -10px
		top -95px
		width 1000px
		img
			width 100%
#detalles
	position: relative
	padding 54px
	.avatar
		border-radius 8em
		border 7px solid white
		width 140px
		margin -175px 0 0 105px
		overflow hidden
	img
		width 100%
	.desc
		background-color rgba(0, 0, 0, .55)
		display inline-block
		float left
		margin -131px 0 0 185px
		position absolute
		//width 69.6%
		width 891px
		z-index -2
		h3
			position absolute
			margin-top 20px
			color white
			font-size 1.8em
			font-weight 400
			display inline
			padding-left 90px
		p
			border-left 1px solid white
			font-size .8em
			float right
			color white
			padding 0 69px 0 20px
			width 320px

@media only screen and (min-width: 1280px)
	body
		width 1280px
		margin 0 auto
		overflow-x hidden
	header
		width 100%
		margin 0 auto

	.container16
		margin 0 auto
		width 100%
	#page-wrap
		width 1280px
		margin 0 auto
			

@media only screen and (min-width: 768px) and (max-width: 1160px)
	body
		width 100%
		margin 0 auto
		overflow-x hidden
	header
		width 100%
		margin 0 auto

	.container16
		width 100%
		.column14
			width 820px
		.column15 
			width 880px
		.column16
			width 966px
	.social
		figure
			margin -5.3% 0 0 3%
	ul
		font-size 0.9em
		li
		&:first-child
			padding-left: 5px;
	#caja
		input
			width 145px
	.rowUsers
		margin 0 0 0 -15%
	.video
		margin-right -5%

@media only screen and (min-width: 480px) and (max-width: 767px)
	.container16
		width:100%
		.column14, .column15, .column16
			width 540px
	ul
		font-size 0.9em
		margin-left -35px
		li
			display inline-block
			&:first-child
				padding-left 0!important
	.social
		figure
			margin -11.3% 0 0 0
		ul
			margin -10% 0 0 0
	.login
		span
			display none
	#caja
		input
			margin-bottom: 25px;
			margin-left: 7%;
	#banner
		padding-left 15px
		.aviso
			padding-bottom 7px
			a
				padding-right 58%
			span
				padding-right: 15px!important
	.video
		padding-right 8px
		iframe
			width 530px
	#principal
		figure
			padding-left 8%
	#barra
		margin-top -122px
	.rowUsers
		a
			img
				width 35px!important
				height 35px!important
		a:first-child
			padding-left 10px