section.container{
	margin: 0 auto;
	max-width: 1000px;
	padding-top: 52px;
	width: 100%;
}

.main-menu{
	background: #bbc0c4;
	display: inline-table;
	width: 25%;
}

.profile-cont{
	background: #19ba99;
	padding: 20px 20px 10px;
}

.profile-cont figure{
	height: auto;
	margin: 0 auto;
	width: 80%;
}

.profile-cont img{
	height: auto;
	width: 100%;
}

.profile-options{
	color: #3f4f5c;
}

.profile-options ul{
	margin: 0 auto;
	width: 70%;
}

.profile-options ul li{
	display: block;
	padding: 10px 0;
	text-align: left;
}

p.owner-name{
	color: #fff;
	font-size: 18px;
	text-align: center;
	vertical-align: bottom;
}

section.side-container{
	display: inline-table;
	float: right;
	width: 75%;
}

.general-head{
	background: #bbc0c4;
	padding: 10px;
}

.general-head h3{
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 4px;
}

.general-head p{
	font-size: 12px;
	font-style: italic;
}

.bot-green{
	background: #19ba99;
	box-shadow: none;
	border: none;
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	height: 40px;
	font-size: 14px;
	font-style: italic;
	width: 70%;
}

.sociald{
	display: inline-block;
	float: right;
	margin: 0;
	padding: 0;
	width: 26%;
}

.sociald a.icon-facebook, .sociald a.icon-twitter{
	color: #fff;
	font-size: 36px;
	margin: 0 10px;
	padding: 0;
}

.sociald > li:first-child {
    padding: 0;
}

.sociald > li:last-child{
	padding: 0;
}

.question-list-container{
	border-top: 1px solid #d0d0d0;
	margin: 15px auto 0;
	padding: 0;
	width: 96%;
}

.question-list figure{
		float: left;
		height: auto;
		margin: 0 10px 0 0;
		width: 16%;
}

.question-list img{
		height: auto;
		width: 100%;
}

.question-list-container li{
	border-bottom: 1px solid #d0d0d0;
	display: block;
	padding: 20px 0 !important;
}

.question-list-container li:first-child{
	padding: 0;
}

.question-list, .results-list{
	display: inline-table;
	width: 70%;
}
 
.search-list-container{
	margin: 15px auto 0;
	padding: 0;
	width: 96%;
}

.search-list-container li{
	border-bottom: 1px solid #d0d0d0;
	display: block;
	padding: 20px 0 !important;
	vertical-align: bottom;
}

.results-list figure{
	float: left;
	height: auto;
	margin: 0 10px;
	width: 16%;
}

.results-list img{
	height: auto;
	width: 100%;
}

.answer-box{
	background: none repeat scroll 0 0 #2b80b9;
    border-radius: 3px 0 3px 3px;
    clear: both;
    padding: 10px 5px;
    position: relative;
}

.answer-box .icon-microphone {
    bottom: 40px;
    color: #fff;
    font-size: 50px;
    position: absolute;
    right: 11px;
}

.answer-box textarea{
	border: none;
	height: 90px !important;
	width: 90%;
}

.configuration-container{
	color: #bcc1c5;
	font-size: 12px;
}

.question{
	margin-bottom: 4px !important;
	text-align: left;
}

.author{
	font-size: 13px;
    margin: 0;
    text-align: left;
}

.name{
	color: #59c7e2;
	font-size: 13px;
	font-weight: bold;
	padding: 0;
}

.name a{
	color: #59c7e2;
	text-decoration: none;
	padding: 0;
}

.name-dark{
	color: #2a4055;
	font-size: 16px;
	 margin: 4px 0;
	text-align: left;
}

.actions-box{
	display: inline-table;
	float: right;
	width: 30%;
}

.block{
	background: none repeat scroll 0 0 #bbc0c4;
    border: medium none;
    border-radius: 3px;
    box-shadow: none;
    color: #fff;
    display: block;
    float: right;
    font: 300 12px "Raleway",sans-serif;
    padding: 6px;
    position: relative;
    text-transform: uppercase;
    width: 40%;
}

.block .icon-cancel-circle {
    color: red;
    left: -17px;
    position: absolute;
}

.bot-blue{
	background: none repeat scroll 0 0 #2b80b9;
	border: none;
	box-shadow: none;
	clear: both;
	color: #fff;
	display: block;
	float: right;
	font: 15px 'Raleway',sans-serif;
	text-transform: uppercase;
	margin-top: 34px;
	padding: 14px 8px;
	width: 50%;
}

.search{
	width: 70%;
}

.bot-red{
	background: none repeat scroll 0 0 #e54c3e;
    border-radius: 3px;
    border: none;
    box-shadow: none;
    color: #fff;
    display: block;
    font: 16px 'Raleway',sans-serif;
    float: right;
    height: 40px;
    text-align: center;
    text-transform: uppercase;
    width: 20%;
}

.divisor{
	border-top: 1px solid #bbc0c4;
    display: block;
    margin-top: 20px;
    padding-top: 20px;
    width: 100%;
}

#configuration-container, #register-container{
	padding: 20px 0 0 20px;
	width: 96%;
}

.form-style {
	color: #9c9c9c!important;
	font: 13px 'Raleway',sans-serif!important;
}

.leyend {
	color: #9c9c9c!important;
	font: bold 13px 'Raleway',sans-serif!important;
	padding-left: 10px;
}

#register-container .min-gray-txt{
	margin: 0;
	padding-bottom: 16px;
}

#register-container .min-blue-txt{
	display: inline!important;
}

.input-container {
    width: 100%;
}

.input-container p {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.form-style input[type="text"] {
	border:1px solid #bbc0c4;
	border-radius: 3px;
	display: block;
	color: #9c9c9c;
	display: inline-block;
	height: 50px;
	margin: 10px 0;
	padding-left: 5px;
	width: 40%;
}

.form-style select{
	border:1px solid #bbc0c4;
	border-radius: 3px;
	color: #9c9c9c!important;
	font-size: 13px;
	height: 50px;
	margin: 10px 0;
	padding-left: 5px;
	width: 41%;
}

textarea{
	border: 1px solid #bbc0c4;
  	border-radius: 3px;
  	color: #9c9c9c;
  	display: inline-block;
  	font-size: 13px;
  	height: 80px;
  	padding-left: 5px;
  	width: 40%;
}

.form-style input[type="checkbox"], input[type="radio"]{
	margin-right: 5px;
}

.form-style button{
	float: none;
}

.profile-setting{
	display: inline-block;
	width: 50%;
}

.profile-setting figure{
	margin: 0;
	width: 22%;
}

.profile-setting img{
	float: left;
	margin-right: 10px;
	width: 100%;
}

.register-social {
    width: 100%;
}

.register-social ul {
	margin: 0;
    text-align: left;
}

.register-social ul li{
	margin: 0 10px 0 0;
	padding: 0;
}

.facebook-btn {
    background: #4461a5;
    border-radius: 3px;
    display: inline-block;
    font-size: 18px;
    padding: 10px !important;
    text-align: center;
    width: 15%;
}

.twitter-btn {
    background: #5ac2e7;
    border-radius: 3px;
    display: inline-block;
    font-size: 18px;
    padding: 10px !important;
    text-align: center;
    width: 15%;
}

.facebook-btn a, .twitter-btn a{
	margin: 0;
	padding: 0;
}

.inside-btn {
    font-family: raleway;
    padding-left: 4px;
}

.min-gray-txt{
	color: #7c7d7f;
	display: block;
	font: 12px 'Raleway',sans-serif;
	font-style: italic;
	padding: 6px 0;
}

.min-blue-txt, .min-blue-txt a{
	color: #267fb9;
	display: block;
	font: 12px 'Raleway',sans-serif;
	font-style: italic;
	text-decoration: none;
}
